* {
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
  padding: 90px 20px 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
h1{
  font-size: 60px;
  color: brown;
}
h2{
  color: brown;
}
h3{
  color: white
}
h4{
  color: white;
  font-size: 30px;
}
h5{
  color: brown;
  font-size: 25px;
}
.header{
  background-color: brown;
  height: 73px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
.navml{
  color: white;
  text-decoration: none;
}
.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nmi{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.nml{
  padding: 8px 12px;
  border-radius: 5px;
}
.nml:hover{
  background-color: bisque;
  transition: 1;
}
.container{
  align-items: center;
  text-align: center;
}
footer{
  color: brown;
  text-align: center;
}